@model IEnumerable<SistemaTelefonico.ViewModels.MunicipioViewModel>

@{
    ViewBag.Title = "Lista Municipios";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indicativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indicativo)
        </td>
        <td>
      
        </td>
    </tr>
}

</table>
